.btn {
  border-radius: 50rem;
  padding: 0.5rem 1.5rem;
}

.btn-primary,
.btn-secondary {
  color: $white;
  background-color: var(--uc-primarybuttoncolor);
  border-color: var(--uc-primarybuttoncolor);
  color: var(--uc-primarybuttontextcolor);
  position: relative;
  &:hover, &:active {
    background-color: #fff;
    border-color: var(--uc-primarybuttoncolor);
    color: var(--uc-bodytextcolor);
  }
}

.btn-secondary {
  background-color: var(--uc-secondarybuttoncolor);
  border-color: var(--uc-secondarybuttoncolor);
  color: var(--uc-secondarybuttontextcolor);
  &:hover, &:active {
    border-color: var(--uc-secondarybuttoncolor);
  }
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: var(--uc-textlinkcolor);
}

.btn-wishlist {
  background-color: transparent;
  border: none;
  display: inline;
  align-self: flex-end;
  padding-right: 8px;
  padding-top: 10px;
  font-size: 22px;
}

.btn-dark {
  color: $card-shadow;
  background-color: $dark;
  border-color: $dark;
}
.link-btn {
  color: var(--uc-textlinkcolor);
}
.btn.link-btn:hover,
.btn.link-btn:focus {
  color: var(--uc-primarycolor);
}

.form-control:focus,
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.promo-btn {
  padding: 4px 15px 4px 10px;
  display: flex;
  align-items: center;
  i {
    font-size: 20px;
  }
  &:hover {
    color: $color-white;
    @extend .bg-secondary;
  }
}
