.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: $link-color;
}

.link-button:hover {
  color: $orange;
}
.btn-wishlist {
  background-color: transparent;
  border: none;
  display: inline;
  align-self: flex-end;
  padding-right: 8px;
  padding-top: 10px;
  font-size: 22px;
}
