.navbar-nav {
  .dropdown {
    position: inherit;
  }
  .dropdown-menu {
    min-width: 12.5rem;
    border-color: $gray-middle-level;
    box-shadow: none;
    align-items: center;
    width: 100%;
    align-self: center;
    .dropdown-menu {
      width: calc(100% - (#{$spacer} * 2));

      margin: 0 $spacer;
      border-color: transparent;
      background-color: $gray-100;
    }
  }
}

.nav-shop-all {
  background-color: $gray-300;
  padding: 5px 20px;
  font-size: 15px;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  a {
    color: $link-color;
  }
  @include media-breakpoint-down(lg) {
    background-color: $gray-900;
    a {
      color: $white;
    }
  }
}

.mega-dropdown-column {
  width: 15rem;
  flex: 1;
}
.mega-nav .dropdown-menu {
  > .mega-dropdown {
    position: static;
  }
  > .dropdown {
    > a {
      padding: {
        top: 0.75rem;
        bottom: 0.75rem;
      }
      border-bottom: 1px solid $gray-100;
    }
    &:last-child > a {
      border-bottom: 0;
    }
  }
}

.navbar-nav .widget-links {
  .product-dropdown-header {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 900;
    border-bottom: 1px solid $gray-300;
    text-decoration: none;
  }
  a {
    display: block;
    transition: width 2s, height 4s;
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $color-orange;
    }
    @include media-breakpoint-down(md) {
      color: $color-red;
      &:hover {
        color: $color-white;
      }
    }
  }
  ul {
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
  }
  li {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
