.blog-list:hover {
  color: $link-color;
}

.filter-block .selected-categories {
  color: $orange;
  text-decoration-line: underline;
  text-decoration-color: $orange;
}


.recent-image {
  width: 80;
}
