white-text {
  color: aliceblue;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-text-input;
  // background-color: $color-white;
  background-clip: padding-box;
  border: 1px solid $mixed-white;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0 0 transparent;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: 0.375rem;
  padding-top: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: $font-family-sans-serif;
}

body {
  font-family: 'Jost', sans-serif;
}

.bg-selected {
  background-color: $gray-100;
}

.subscribe {
  height: calc(1.5em + 1.25rem + 2px);
}

.text-sf-w500 {
  font-family: $font-family-sans-serif;
  font-size: medium;
  font-weight: 500;
}

.text-sf {
  font-family: $font-family-sans-serif;
  font-size: medium;
}

nav {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  .nav-link.active {
    border-bottom: 1px solid $orange;
  }
  .nav-item i {
    font-size: 20px;
  }
  form {
    .btn {
      position: relative;
      padding-left: 32px;
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  i {
    color: $link-color;
  }
  i :hover {
    color: $orange;
  }
}
a:hover * {
  color: $orange;
}

:root {
  --bs-blue: $link-color;
}

.img-placeholder {
  opacity: 0.5;
}

.cart.dropdown-toggle:after {
  content: none;
}

// Icon
.bg-icon {
  border: 2px solid $link-color;
  height: 40px;
  width: 40px;
  line-height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
  min-width: 40px;
  i {
    color: $link-color;
  }
}

.line-height {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 75px;
}

.blog-image {
  min-height: 225px;
  max-height: 225px;
}

.m-width {
  max-width: 400px;
}

.clr-white {
  color: $color-white;
}

.mn-width {
  min-width: 300px;
}

.btn-dark {
  color: $card-shadow;
  background-color: $dark;
  border-color: $dark;
}

.text-underline {
  text-decoration: underline;
}

.color-black {
  color: $color-black;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $link-color;
}
.text-truncate:hover {
  color: $orange;
}

.bg-lightgray {
  background-color: $gray-100;
}

.primary-color {
  color: $primary;
}

.ul-non {
  list-style-type: none;
}

.nav-link {
  color: $link-color;
}
.nav-link:hover {
  color: $orange;
}
.bg-light-blue {
  background-color: $light-blue;
}

.white-background * {
  background-color: $color-white;
}

.image-width {
  width: '10rem';
}
.data-time {
  color: $gray-low-level;
  font-size: small;
}

.link {
  color: $link-color;
  text-decoration-line: underline;
  text-decoration-color: $link-color;
  cursor: pointer;
}

.breadcrumb-item * {
  color: $link-color;
  text-decoration-line: underline;
  text-decoration-color: $link-color;
  font-weight: 500;
}

.breadcrumb-item:hover * {
  color: $orange;
  text-decoration-color: $orange;
}

.page-title-overlap {
  padding-bottom: 6.375rem;
  & + * {
    position: relative;
    margin-top: -4.875rem;
    z-index: 5;
  }
}

.link {
  color: $link-color;
  text-decoration: underline;
}
.link:hover {
  text-decoration-color: $orange;
  color: $orange;
}
.content-slider {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.input-group-prepend-overlay {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  .input-group-text {
    border: 0;
    background-color: transparent;
  }
  z-index: 5;
}

.footer-height {
  min-height: 830px;
}
.footer-content * {
  font-family: 'Jost', sans-serif;
}
