footer {
    background-image: linear-gradient(-47deg,#21beb9,#335fc6);

    h4, p, a {
        color: $white;
    }

    h4 {
        margin-bottom: 1.5rem;
    }

    ul {
        padding: 0;
        list-style: none;

        a {
            opacity: .8;
        }
        a:hover {
            color: $white;
            opacity: 1;
        }
    }

    .form-control::placeholder {
        color: $white;
        opacity: 1;
    }

    :-ms-input-placeholder {
      color: $white;
    }

    ::-ms-input-placeholder {
      color: $white;
    }
}
