footer {
  background: var(--uc-footerbackgroundcolor);
  color: var(--uc-footertextcolor);

  ul {
    padding: 0;
    list-style: none;
  }
  
  a {
    color: var(--uc-footertextcolor);
    &:hover {
      color: var(--uc-footertextcolor);
      text-decoration: underline;
    }
  }

  .input-group {
    background: #FFF;
  }
  
  .nav-link:hover {
    color: var(--uc-footertextcolor);
    text-decoration: underline;
  }
}
