.header-bg {
  background-image: linear-gradient(-47deg, rgb(33, 190, 185) 0%, rgb(51, 95, 198) 100%);
  min-height: 30px;
}

.input-group {
  border: 2px solid #eeeeee;
  &:hover,
  &:focus,
  &:active {
    border-color: #dddddd;
  }
  .form-control {
    border: none;
    font-size: 0.9rem;
    background: transparent;
  }
}
.cart-product-name {
  width: 100px;
  padding-right: 3px;
  font-size: 0.8rem;
  line-height: normal;
  color: $color-black;

  &:hover {
    color: var(--uc-textlinkcolor);
  }
}

.main-nav {
  background-color: var(--uc-headerbackgroundcolor);
  color: var(--uc-headertextcolor);
  position: relative;
}

.navbar-dark.bg-dark {
  background-color: var(--uc-headerbarcolor) !important;
  color: var(--uc-headerbarcolor-text);
}

.navbar-dark {
  .container {
    position: relative;
  }
  .navbar-nav {
    &.mega-nav .nav-item {
      margin: 0;
      position: relative;
      padding-left: 13px;
      margin-left: 10px;
      i {
        position: absolute;
        left: 0;
        margin: auto;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .nav-link {
      color: var(--uc-headerbartextcolor);
      font-size: 14px;
      padding: 12px;
      line-height: 1.2;
      &:hover {
        color: var(--uc-headerbartextcolor) !important;
      }
    }
    &.nav-categories {
      flex: 1 1;
      width: 100%;
      justify-content: space-evenly;
    }
  }
}

header form .btn-link {
  color: var(--uc-headertextcolor);
}

header,
footer {
  .card,
  .card-body {
    background-color: transparent !important;
    border: none;
    padding: 0;
    text-align: left !important;
  }
}

header .nav-link:hover {
  color: var(--uc-headertextcolor);
  text-decoration: underline;
}

.mega-menu.dropdown-menu {
  margin: 0;
  border: 0;
  position: relative;
  padding-bottom: 35px;
  box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%);
  a {
    @extend .text-dark;
    &:hover {
      color: var(--uc-primarycolor) !important;
    }
  }
  ul a {
    font-size: 0.875rem;
    font-weight: 400;
  }
  i {
    font-size: 15px;
  }
  .mega-dropdown-column > a {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #e3e9ef;
    display: block;
  }
}

.top-bar {
  background: #777;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-left: 20px;
      display: inline-flex;
      a {
        i {
          font-size: 16px;
          line-height: 26px;
          color: #fff;
        }
      }
    }
  }
}

.ribbon {
  padding: 8px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  ul,
  li,
  a,
  p {
    color: inherit;
    font-size: 14px;
    margin: 0;
    display: block;
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
  .nav-link {
    display: flex;
    align-items: center;
    color: inherit;
    padding: 0 0 0 1rem;
    font-size: 14px;
    i {
      font-size: 16px !important;
    }

    &:hover {
      color: inherit;
    }
  }
  i {
    margin-right: 5px;
  }
  @include media-breakpoint-down(md) {
    i,
    svg {
      display: none;
    }
  }
}

.impersonation-banner {
  .row {
    height: '30px';
  }
  div {
    color: #fff;
    .link {
      color: #fff;
    }
  }
}

.navbar-toggler {
  position: absolute;
  right: 40px;
  height: 40px;
  width: 40px;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $light-white;
}

@include media-breakpoint-up(lg) {
  #navbarCollapse {
    display: block !important;
  }
}

@include media-breakpoint-down(lg) {
  .main-nav {
    ul.nav {
      flex-direction: column;
      align-items: start !important;
    }
  }
}

.mobile-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 80px;
  height: calc(100vh - 80px);
  width: 90vw;
  max-width: 400px;
  background: var(--uc-headerbackgroundcolor);
  color: var(--uc-headertextcolor);
  z-index: 1000;
  padding-top: 25px;
  overflow-y: auto;
  .mobile-nav-header {
    background: var(--uc-headerbackgroundcolor);
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    height: auto;
    max-width: 400px;
    h2 {
      padding: 25px;
      margin: 0;
      font-size: 24px;
    }
  }
  .navbar-toggler {
    top: 20px;
    position: fixed;
    margin-bottom: auto;
    margin-top: 0;
  }
  .nav-item i {
    display: none;
  }
  .nav-children {
    padding: 0 1.5rem;
    margin: 0 !important;
  }
  .nav-link {
    padding: 0.5rem 0 !important;
    font-size: 16px !important;
    color: var(--uc-headertextcolor);
  }
  #mega-menu {
    padding: 10px 25px !important;
    .container {
      width: 100% !important;
      max-width: none !important;
      padding: 0 !important;
    }
    p {
      margin-bottom: 7px;
    }
    .mega-dropdown-column {
      padding: 0 10px !important;
    }
  }
}

#navbarCollapse.show {
  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }
}

header {
  .input-group {
    background: #fff;
    & > .form-control {
      padding-right: 0;
      @include media-breakpoint-up(lg) {
        width: 160px;
        &:focus {
          -webkit-transition: width 200ms ease-in-out;
          -moz-transition: width 200ms ease-in-out;
          -o-transition: width 200ms ease-in-out;
          transition: width 200ms ease-in-out;
        }
      }
    }
  }
}
