.header-bg {
  background-image: linear-gradient(-47deg, rgb(33, 190, 185) 0%, rgb(51, 95, 198) 100%);
  min-height: 30px;
}

.input-group {
  border: 2px solid #eeeeee;
  &:hover,
  &:focus,
  &:active {
    border-color: #dddddd;
  }
  .form-control {
    border: none;
    font-size: 0.9rem;
    background: transparent;
  }
}
.cart-product-name {
  width: 100px;
  padding-right: 3px;
  font-size: .8rem;
  line-height: normal;
  color: $color-black;

  &:hover {
      color: $link-color;
  }
}
