.slider_container {
  height: 'fit-content';
}
.image_container {
  width: 125;
  height: 100;
}
.content-spacer {
  padding: 6rem 0;
}
// Section title
.section-title {
  h2 {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      width: 80px;
      height: 3px;
      background: $orange;
      content: '';
      margin: 0 auto;
    }
  }
}
.slick-prev:before,
.slick-next:before {
  color: $gray-middle-level;
}
