.content-slider {
  
  @include media-breakpoint-up(md) {
    .carousel-item {
      min-height: 400px;
      background: $gray-900;
      .carousel-image {
        opacity: 0.4;
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        max-width: none;
        display: flex;
        img {
          object-fit: cover;
          max-width: none;
          width: auto;
          min-width: 100%;
        }
      }
    }
    .carousel-caption {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      padding: 5rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 400px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    .carousel-item .carousel-caption {
      padding: 5rem 15rem;
    }
  }
  
  @include media-breakpoint-down(md) {
    .carousel-caption {
      position: relative;
      text-align: left;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: 30px 70px 40px 70px;
      padding: 0;
      color: $dark;
    }
    .carousel-inner {
      background: $gray-200;
    }
    .carousel-control-next,
    .carousel-control-prev,
    .carousel-indicators [data-bs-target] {
      filter: invert(100%);
    }
  }

  .slick-slider .card .card-footer {
    border: none;
    background: transparent;
    padding: 1rem 0 2rem 0;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: $gray-middle-level;
  }
  
}
@include media-breakpoint-down(md) {
  .content-slider .carousel-image {
    max-height: 30vh;
    overflow: hidden;
    display: flex;
    img {
      object-fit: cover;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  width: 90px;
}

// End content-slider

.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
}


.content-spacer {
  padding: 3rem 0;
}

// Section title
.section-title {
  h2 {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      width: 80px;
      height: 3px;
      background: var(--uc-secondarycolor)y;
      content: '';
      margin: 0 auto;
    }
  }
}

.blog-card {
    a {
        color: $dark;

        &:hover {
            color: var(--uc-primarycolor);
        }
    }
}

.custom-card {
  .card-body ul p {
    margin-bottom: 5px;
  }
}

.brand-rounded-img {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

