.content-slider {
   .carousel-inner {
    background: $gray-900;
  }

  .carousel-image {
    width: 100%;
    position: relative;
  }
  
  @include media-breakpoint-up(lg) {
    .carousel-item {
      height: 500px;
      .carousel-image img {
        opacity: .4;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 500px;
      }
    }
    .carousel-caption {
      text-align: left;
      transform: translateY(-50%);
      bottom: initial;
      top: 50%;
      p {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
  }
  
  @include media-breakpoint-down(lg) {
    .carousel-caption {
      position: relative;
      text-align: left;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: 20px 50px 50px 50px;
      color: $dark;
    }
    .carousel-inner {
      background: $gray-200;
    }
    .carousel-image {
      opacity: 1;
      height: 30vh;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    .carousel-control-next,
    .carousel-control-prev,
    .carousel-indicators [data-bs-target] {
      filter: invert(100%);
    }
    .carousel-control-next,
    .carousel-control-prev {
      width: 50px;
      top: 50%;
    }
  }

  .slick-slider .card .card-footer {
    border: none;
    background: transparent;
    padding: 1rem 0 2rem 0;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: $gray-middle-level;
  }
  
} // End content-slider

.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
}


.content-spacer {
  padding: 3rem 0;
}

// Section title
.section-title {
  h2 {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      width: 80px;
      height: 3px;
      background: $brand-secondary;
      content: '';
      margin: 0 auto;
    }
  }
}

.blog-card {
    a {
        color: $dark;

        &:hover {
            color: $color-orange;
        }
    }
}

.custom-card {
  .card-body ul p {
    margin-bottom: 5px;
  }
}

.brand-rounded-img {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

