::-webkit-scrollbar {
  width: 12px;
  background: $color-gray;
}
::-webkit-scrollbar-thumb {
  background: $gray-400;
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray-600;
}
.filter-block {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid $color-white;
}

.filter-block .filter-list-container {
  margin-bottom: 1rem;
}
.filter-block .filter-list-container h4,
.filter-block .filter-list-container .h4 {
  font-size: 1.1rem;
}
.filter-block .filter-list-container .form-check {
  padding-bottom: 5px;
}
.filter-block .filter-list-container .form-check-input,
.filter-block .filter-list-container .form-check-label {
  color: $gray-middle-level;
  font-weight: 400;
}
.filter-block .filter-list-container .form-check-input:hover,
.filter-block .filter-list-container .form-check-label:hover {
  cursor: pointer;
  color: var(--uc-textlinkcolor);
}
.product-brand {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  height: 10px;
  margin-bottom: 7px;
  display: block;
  color: $gray-top-level;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.product-name {
  line-height: 1.2;
  display: -webkit-box;
  font-size: 16px;
  color: $color-black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product-name:hover {
  color: var(--uc-textlinkcolor);
}

.product-card {
  border: 2px solid $color-white;
  border-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $light-white;
  background-clip: border-box;
}

.product-listing {
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    .sort-options {
      position: absolute;
      top: -80px;
      right: 10px;
    }
  }
}
.product-grid {
  .product-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

// product Listing sidebar
.contentLoader {
  width: 400;
  height: 150;
  background-color: $color-gray;
}
.listingFilter {
  max-height: 25rem;
  overflow-y: auto;
}
.filter-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listingGridLoader {
  height: 400;
  max-width: 1000;
}
.listingSidebarLoader {
  height: 150;
  max-width: 400;
  background-color: $color-gray;
}
.slider_container {
  height: 'fit-content';
}
.card-image-height {
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
  display: block;
}
.remove-focus {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.qtyLabel {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $dark;
}
.paginationTxtClr {
  color: $dark;
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.category-links a {
  &:after {
    content: ', ';
  }
  &:last-child:after {
    content: none;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}