.filter-block {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid $color-white;
}
.filter-block h3,
.filter-block .h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
  display: block;
  border-bottom: 1px solid $color-white;
}
.filter-block .filter-list-container {
  margin-bottom: 1rem;
}
.filter-block .filter-list-container h4,
.filter-block .filter-list-container .h4 {
  font-size: 1.1rem;
}
.filter-block .filter-list-container .form-check {
  padding-bottom: 5px;
}
.filter-block .filter-list-container .form-check-input,
.filter-block .filter-list-container .form-check-label {
  color: $gray-middle-level;
  font-weight: 400;
}
.filter-block .filter-list-container .form-check-input:hover,
.filter-block .filter-list-container .form-check-label:hover {
  cursor: pointer;
  color: $primary-blue;
}
.product-brand {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 7px;
  display: block;
  color: $gray-top-level;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.product-name {
  line-height: 1.2;
  display: -webkit-box;
  font-size: 20px;
  color: $primary-blue;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product-name:hover {
  color: $orange;
}

.product-card {
  border: 2px solid $color-white;
  border-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $light-white;
  background-clip: border-box;
}
.add-card-footer {
  padding: 0.5rem 1rem;
}

// product Listing sidebar
.contentLoader {
  width: 400;
  height: 150;
  background-color: $color-gray;
}
.listingFilter {
  max-height: 25rem;
  overflow-y: auto;
}
.filter-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listingGridLoader {
  height: 400;
  width: 1000;
}
.listingSidebarLoader {
  height: 150;
  width: 400;
  background-color: $color-gray;
}
.slider_container {
  height: 'fit-content';
}
.card-image-height {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
