$primary: #027CBA; // ultra blue
$brand-secondary: #CC122B; // ultra red
$link-color: #2478cc;
$primary-blue: #146cda;
$color-white: #f7f7f7;
$color-black: #000000;
$fad-White: #ebebeb;
$gray-middle-level: #555;
$gray-top-level: #47494a;
$gray-text-input: #4b566b;
$gray-low-level: #b4aca8;
$mixed-white: #dae1e7;
$card-shadow: #eeeeee;
$dark: #212529;
$color-orange: $primary; // everywhere slatwall orange variable is used, use ultra blue (primary color variable)
$color-red: #ff0000;
$light-blue: #f2f8fb;
$light-white: #fff;
$color-gray: #f3f3f3;

$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 4;

$step-count-size: 1.625rem !default;

$step-bar-height: 0.25rem !default;
$step-bar-border-radius: $step-bar-height / 2 !default;
$step-count-size: 1.625rem !default;
$step-count-font-size: 0.875rem !default;
$step-transition: color 0.25s ease-in-out !default;
