//** Start UC Specific **
$theme-name: industrial;
//** End UC Specific **

//** Start UC Variables **
:root {
    --uc-primarycolor: #6C36FE; // default to ultra periwinkle
    --uc-secondarycolor: #F3E500; // default to ultra yellow
    --uc-textlinkcolor: #2CE2ED; // default to ultra indigo
    --uc-bodybackgroundcolor: #ffffff;
    --uc-bodytextcolor: #000000;
    --uc-headerbarcolor: #6C36FE; // default to ultra periwinkle
    --uc-headerbartextcolor: #ffffff; 
    --uc-headerbackgroundcolor: #ffffff;
    --uc-headertextcolor: #000000;
    --uc-footerbackgroundcolor: #ffffff;
    --uc-footertextcolor: #000000;
    --uc-primarybuttoncolor: #F3E500; // default to ultra yellow
    --uc-primarybuttontextcolor: #000000;
    --uc-secondarybuttoncolor: #A786FE; 
    --uc-secondarybuttontextcolor: #000000;
    --uc-ribbonbackgroundcolor: #F6F8FA;
    --uc-ribbontextcolor: #333333;
    
    --uc-fontfamily: Arial, sans-serif;
    --uc-fontsize: 16px;
}
//** End UC Variables **

//** Start Boostrap Override **
$color-white: #f7f7f7;
$color-black: #000000;
$fad-White: #ebebeb;
$gray-middle-level: #555;
$gray-top-level: #47494a;
$gray-text-input: #4b566b;
$gray-low-level: #b4aca8;
$mixed-white: #dae1e7;
$card-shadow: #eeeeee;
$dark: #212529;
$color-red: #ff0000;
$light-blue: #f2f8fb;
$light-white: #F8F9FA;
$color-gray: #f3f3f3;

$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 4;
//** End Boostrap Override **

$step-count-size: 1.625rem !default;

$step-bar-height: 0.25rem !default;
$step-bar-border-radius: $step-bar-height / 2 !default;
$step-count-size: 1.625rem !default;
$step-count-font-size: 0.875rem !default;
$step-transition: color 0.25s ease-in-out !default;
