@import './components/about.scss';
@import './components/blog.scss';
@import './components/bulkOrder.scss';
@import './components/button';
@import './components/cart.scss';
@import './components/checkout.scss';
@import './components/common.scss';
@import './components/contentGrids.scss';
@import './components/dropdown';
@import './components/footer.scss';
@import './components/googleLogin.scss';
@import './components/header.scss';
@import './components/home.scss';
@import './components/productListing.scss';
@import './components/productReview.scss';
@import './components/sitePicker.scss';
@import './components/spinner';
@import './theme/default.scss';
@import './theme/industrial.scss';

@if $theme-name == 'industrial' {
  @include industrialTheme;
} @else if $theme-name == 'default' {
  @include defaultTheme;
}
